.cb-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    contain: layout style size;
    pointer-events: none;
    will-change: transform;
    -webkit-transition: opacity 0.3s, color 0.4s;
    transition: opacity 0.3s, color 0.4s;
}

.cb-cursor:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: #fff;
    border-radius: 50%;
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.1s;
    transition: transform 0.3s ease-in-out, opacity 0.1s, -webkit-transform 0.3s ease-in-out;
}

.cb-cursor-text {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: scale(0) rotate(10deg);
    transform: scale(0) rotate(10deg);
    opacity: 0;
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.01em;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
    transition: opacity 0.4s, -webkit-transform 0.3s;
    transition: opacity 0.4s, transform 0.3s;
    transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s;
}

@supports (mix-blend-mode: exclusion) {
    .cb-cursor.-exclusion, .cb-cursor.-opaque {
        mix-blend-mode: exclusion;
    }
}

@supports (mix-blend-mode: exclusion) {
    .cb-cursor.-exclusion:before, .cb-cursor.-opaque:before {
        background: white;
    }
}

.cb-cursor.-normal, .cb-cursor.-text {
    mix-blend-mode: normal;
}

.cb-cursor.-normal:before, .cb-cursor.-text:before {
    background: currentColor;
}

.cb-cursor.-inverse {
    color: white;
}

.cb-cursor.-visible:before {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
}

.cb-cursor.-visible.-active:before {
    -webkit-transform: scale(0.23);
    transform: scale(0.23);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.cb-cursor.-pointer:before {
    -webkit-transform: scale(0.15);
    transform: scale(0.15);
}

.cb-cursor.-text:before {
    opacity: 0.85;
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
}

.cb-cursor.-text .cb-cursor-text {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.cb-cursor.-text.-active:before {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.cb-cursor.-opaque:before {
    -webkit-transform: scale(1.32);
    transform: scale(1.32);
}

.cb-cursor.-opaque.-active:before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.cb-cursor.-lg:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.cb-cursor.-hidden:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}
/*# sourceMappingURL=cursor.css.map */